@{
    ViewData["Title"] = "Организации";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <div class="col-md-5">
        <form method="post" action="Organizations">
            <div>
                <label>Форма для заполнения</label>
            </div>
            <div>
                <label>
                    Название
                    <input type="text" name="name" />
                </label>
            </div>
            <div>
                <label>
                    Вид собственности
                    <input type="text" name="typeofownership" />
                </label>
            </div>
            <div>
                <label>
                    Адрес
                    <input type="text" name="address" />
                </label>
            </div>
            <div>
                <label>
                    <input type="submit" value="Отправить" />
                </label>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        Информация о видах продуктов
        <table style="width: 50%;">
            @{
            for (int i = 0; i < 4; i++)
            {
                        <tr>
                            <td>Название @i</td>
                            <td>Вид собственности @i</td>
                            <td>Адрес @i</td>
                        </tr>
            }
            }
        </table>
    </div>

</div>